*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
   
}

#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color:#fd7505;

}

#logo:hover{
    color: #ffffff;
}
#logo-me{
    color:#fffffe;
    margin-left: 5px;
}
#logo:hover #logo-me{
   color: #fd7505;
}

.sign{
    float:right;
    line-height: 60px;
    margin-right: 40px;
}

.sign a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}


.act{
    border: 2px solid #fff;
    border-radius:50px;
    padding:  6px 15px;
}

.sign a:hover{
    color:#3498db;
    border-color:#3498db;
}

.slider{
    position: relative;
    width: 100%;
    background: #2c3e50;
}

.myslider{
    height: 655px;
    display:none;
    overflow: hidden;
}

.prev, .next{
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);
   font-size: 50px;
   padding: 15px;
   cursor: pointer;
   color: #fff;
   transition: 0.1s;
   user-select: none;
}
.prev:hover , .next:hover{
     color: #3498db;
}
.next{
    right: 0;
}

.dotbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px ;
    cursor: pointer;
}
.active,.dot:hover{
    border-color: #fd7505;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s ; 
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
   from {opacity: 0.8}
   to{opacity: 1}
}
@keyframes fade {
    from {opacity: 0.8}
   to{opacity: 1}

}

.txt {
    position: absolute;
    color:#fff;
    letter-spacing: 2px;
    top: 40%;
    left:15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index:1;
}

@-webkit-keyframes posi {
     from {left:25%;}
     to{left:15%;}
}

@keyframes posi {
    from {left:25%;}
    to{left:15%;}
}

.txt h1{
    color: #fd7505;
    font-weight: bold;
    margin:20px;
}

.txt p{
    font-weight: bold;
   font-size: 20px;
}
img {
    transform:scale(1.5,1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration:40s;
    animation-name: zoomin;
    animation-duration:40s;
    
}

@-webkit-keyframes zoomin {
    from{transform: scale(1, 1);}
    to {transform: scale(1.5,1.5);}
}

@keyframes zoomin {
    from{transform: scale(1, 1);}
    to {transform: scale(1.5,1.5);}
}

@media  screen and (max-width:800px) {
    .myslider{
        height:500px
    }
    .txt{
        line-height: 25px;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration:2s;
        animation-name: posi2;
        animation-duration:2s;
    }
    @-webkit-keyframes posi2{
        from {top:35%;}
    to{top:50%;}
    }
    @keyframes posi2{
        from {top:35%;}
    to{top:50%;}
    }
    .txt h1{
        font-size:40px ;
    }
    .txt p{
        font-size:13px ;
    }
}
@media screen and (max-width:520px) {
    .text h1{
        font-size: 30px;
    }
    .sign {
        margin-right: 20px;
    }
    .sing a {
        font-size: 12px;
    }

}


#registration{
  height: 100vh;
  width: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  background: #343f4f;
}

.wrapper1{
    height: 120px;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content:center;
    background:#fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper1 span{
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight:600 ;
    cursor:pointer;
}
.wrapper1 span.num{
   font-size:50px;
   border-right: 2px solid rgba(0,0,0,0.2);
   border-left: 2px solid rgba(0,0,0,0.2);
   pointer-events: none;
}

.seccao2{
    margin-left: 40px;
    height: 100%;
    width: 60%;
    background-color: #c6d1e0;
}

#container3{
    width: 100%;
    height: 100vh;
    background:  #343f4f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculater{
    background: #232324;
    padding:20px;
    border-radius: 10px;
}
.calculater form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;

}


form .display {
    display: flex ;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
    
}

form input.operator{
    color:#33ffd8;
}
 /*
.text-boxes{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 30px;
}

.text-boxes .text-box{
   height:380px; 
   max-width:660px;
   width:80%;
   margin: 100px;
}

.text-boxes .text-box .topic{
    font-size: 18px;
    font-weight: 600;
    color: #265df2;
    margin: 4px;
}

.text-boxes .text-box textarea{
    height: 70%;
    width: 100%;
    padding: 30px;
    font-size: 15px;
    font-style: 400;
    outline:none;
    border: 1px solid #265df2;
    border-radius: 8px;
    background: #e7edfe;
}
.text-box textarea::-webkit-scrollbar{
    display: none;
}

.text-boxes .text-box button{
    height: 45px;
    width: 155px;
    color: #fff;
    background: #265df2;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 400;
    margin: 8px 0 ;
    cursor: pointer;
    transition: all 0.4s ease;
}
 text-boxes .text-box button:hover{
     background: #0e4bf1;

 }   
@media (max-width:400px) {
  .text-boxes .text-box button{
    width:100% ;
  }
}